doctype html

- function getResourceUrl(res) {
-   if (process.env.NODE_ENV === 'production') {
-     return '.' + res.getUrl().replace(/\.html$/, '')
-   } else {
-     return '.' + res.getUrl()
-   }
- }

html(lang="en")
    head
        block head
            title=page.title

            script(type="text/javascript", src=getResourceUrl(contents['all.js']))
            link(type="text/css", href=getResourceUrl(contents['all.less']), rel="stylesheet")

    body
        block body
            !=page.html
